<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <title>Мой интернет-магазин одежды</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/styles.css'%}">
    <script type="text/javascript" src="{% static 'shop/js/script.js' %}"></script>

</head>
<body>
<header>
      <h1>Мой интернет-магазин одежды</h1>
      <nav>
        <ul>
            {% for c in categories%}
            {% if c.slug == cat_selected%}
            <h1>{{c.name}}!!!</h1>
            {%else%}
          <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
            {% endif %}
            {% endfor %}

        </ul>
      </nav>
    </header>
<main>
{% block main%}

{%endblock%}
</main>
<footer>
      <p>&copy; 2023 Мой интернет-магазин одежды</p>
    </footer>
</body>
</html>